*{
  box-sizing: border-box;
}
/* GLOBALNI STILOVI */
body{
  font-family: 'Source Code Pro', monospace;
  background-color: #111;
  color: #fff;
}
section{
  _min-height: 100vh;
  padding-top: 80px;
}
.hide {
  display: none;
}
.img {
  max-width: 100%;
  z-index: 2;
  position: relative;
}
.imgh {
  max-width: 470px;
}
.imgw {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  position: relative;
}
.red {
  color: red;
}
.blue {
  color: #00BFFF;
}
/* NAVIGACIJA */
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s;
  padding: 10px 5px;
  height: 66px;
  background: #111;
  z-index: 9999;
}
.menu-btn{
  background-image: url("../img/hi.png");
  display: inline-block;
  color: #fff;
  position: fixed;
  top: 12px;
  right: 30px;
  cursor: pointer;
  z-index: 9999;
  transition: all .3s;
  height: 40px;
  width: 40px;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  text-indent: 9999px;
}
#logo img {
  width: 54px;
  height: 46px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #111;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
nav ul li {
  text-align: center;
  margin: 10px 0;
  font-size: 10px;
}
nav ul li span::before {
  content: "<";
  color: #00BFFF !important;
}
nav ul li span::after {
  content: ">";
  color: #00BFFF !important;
}
nav ul li span {
  position: relative;
  top: -2px;
}
nav ul li a{
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
padding: 0 10px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #00BFFF;
}
/* SEKCIJE */

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
imgw {
  align-self: flex-end;
}
#home h1{
  text-align: center;
  font-size: 24px;
  position: relative;
  display: inline-block;
}
#home h1 span {
  font-size: 16px;
}
.naslov {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.h1{
  position: absolute;
  top: 0px;
  left: 0px;
}
.h2{
  position: absolute;
  bottom: -35px;
  right: 0px;
}
/* ABOUT ME */
#about h2{
  text-align: center;
  font-size: 24px;
}
#about h2 span {
  font-size: 16px;
}
.s1 {
  position: absolute;
  right: 0px;
}
/* WORKS */
#works h2{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
#works h2 span {
  font-size: 16px;
}
.mb {
  display: block;
  margin-bottom: 30px;
}
.imgbox{
  margin-bottom: 30px;
  overflow: hidden;
}
.imgbox a {
  background-color: #00BFFF;
  position: relative;
  overflow: hidden;
  display: block;
  outline: none!important;
  text-decoration: none;
}
.imgbox a:hover img {
  transform: scale(1.1);
  opacity: .7;
  transition: all 0.5s;
}
.imgbox div {
  z-index: 10;
  background-color: #111;
  color: #00BFFF;
  opacity: 1;
  position: relative;
  height: 100%;
  padding-top: 10px;
}
.button {
  text-align: center;
}
#loadMore {
  background-color: #111;
  color: white;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: .25rem;
  }
#loadMore:hover {
  border: 1px solid #00BFFF;
  color: #00BFFF;
}
/* CONTACT */
#contact h2{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
#contact h2 span {
  font-size: 16px;
}
.wrapper {
  max-width: 500px;
  max-height: 660px;
  margin: 0 auto;
  position: relative;
}
#contact form {
  position: relative;
}
.error {
  color: red;
}
.alert-success {
  background-color: #111;
  color: #fff;
  border: none;
  max-height: 500px;
}
.alert-success p {
  max-height: 500px;
  position: relative;
  margin: 50% auto;
  color: green;
}
.s3 {
  position: absolute;
  right: 0px;
}
#contact form input.valid {
  background-color: #111 !important;
  color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#contact form label {
  display: block;
  margin-top: 10px auto;
  text-align: center;
}
#contact form input {
  display: block;
  margin: 10px auto;
  border: 1px solid white;
  color: white;
  background: #111;
  width: 270px;
}
#contact form textarea {
  display: block;
  margin: 10px auto;
  border: 1px solid white;
  color: white;
  background: #111;
  width: 270px;
  height: 100px;
}
#contact form button {
  display: block;
  margin: 10px auto;
  border: 1px solid white;
  color: white;
  background: #111;
  padding: 0 20px;
}
#contact form button:hover {
  border: 1px solid #00BFFF;
  color: #00BFFF;
}
.f1 {
  position: absolute;
  right: 0px;
}
/* FOOTER */
footer {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.social2 {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.social2 li  {
  width: 50px;
  height: 50px;
  border: 1px solid #00BFFF;
  border-radius: 50%;
  line-height: 48px;
}
.social2 a {
  color: white;
  font-size: 28px;
}
.social2 a:hover {
  color: #00BFFF;
}
.a2 {

}
.a1 {
  margin-right: 10px;
}
small {
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.vid1 {
  display: block;
  position: absolute;
  _left: 0;
  transform: translateX(0);
  animation: 1.5s forwards vid1;
}
@keyframes vid1 {
  to {transform: translateX(-70%);}
}
.vid2 {
  display: block;
  position: absolute;
  _right: 0;
  transform: translateX(0);
  animation: 1.5s forwards vid2;
}
@keyframes vid2 {
  to {transform: translateX(70%);}
}
#home h1 {
  font-size: 34px;
}
#home h1 span {
  font-size: 26px;
}
.h1 {
  top: 46px;
  left: -80px;
}
.h2 {
  top: 46px;
  right: -80px;
}
#about h2 {
  font-size: 28px;
}
#about h2 span {
  font-size: 20px;
}
#about p {
  font-size: 18px;
}
#works h2 {
  font-size: 28px;
}
#works h2 span {
  font-size: 20px;
}
#contact h2 {
  font-size: 28px;
}
#contact h2 span {
  font-size: 20px;
}


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo img {
    width: 83px;
    height: 72px;
    position: fixed;
    left: 10px;
    transform: translateX(0);
  }
  .main-header {
    height: 90px;
  }
  .menu-btn{
    display: none;
  }
  nav {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    position: static;
    transform: translate(0);
    display: flex;
    justify-content: flex-end;
    }
  nav ul li {
    width: 160px;
  }
  nav ul li:last-child {
    width: 30px;
    margin-right: 50px;
  }
  nav ul li:nth-child(4) {
    width: 30px;
    margin-left: 50px;
    margin-right: 5px;
  }
  nav ul li a{

  }
  section {
    padding-top: 100px;
  }
#contact form input {
  width: 300px
}
#contact form textarea {
  width: 300px;
  height: 200px;
}
.wrapper {
margin-top: 150px;
}
.wrapper2 {
margin-top: 100px;
}
footer{
  margin-bottom: 0;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #home h1 {
    font-size: 46px;
  }
  #home h1 span {
    font-size: 30px;
  }
  .h1 {
    top: 64px;
    left: -80px;
  }
  .h2 {
    top: 64px;
    right: -80px;
  }
  nav ul {
    line-height: 45px;
  }
  nav ul li {
    width: 200px;
    font-size: 14px;
  }
  nav ul li a {
  font-size: 20px;
  }
  #contact form input {
    width: 350px
  }
  #contact form textarea {
    width: 350px;
  }
  .hide {
    display: block;
    position: absolute;
    color: #00BFFF;
    font-size: 20px
  }
  .ht1 {
    left: 13px;
    top: 110px
  }
  .b1 {
    left: 40px;
    top: 150px;
  }
  .b2 {
    bottom: 50px;
    left: 40px;
  }
  .ht2 {
    bottom: 5px;
    left: 13px;
  }
  #about {
    position: relative;
  }
  .p1 {
    left: 13px;
  }
  .p2 {
    bottom: -70px;
    left: -285px;
  }
  #works {
    position:relative;

  }
  .z {
    bottom: 0px;
    right: 13px;
  }
  .z1 {
    bottom: 5px;
    left: 13px;
  }
  #contact {
    position: relative;
  }
}
